@media (max-width: 1024px) {
  .layout-left-column .row-wrapper {
    @include flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {

  #left-column,
  #right-column {
    width: 300px;
  }

  #content-wrapper.col-xl-9 {
    width: calc(100% - 300px);
  }

  .filter-button.hidden-xl-up {
    display: none !important;
  }
}

//filters-canvas
.filters-canvas {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1055;
  opacity: 0;
  visibility: hidden;
  width: 25rem;
  max-width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: opacity .5s, transform .5s ease, visibility .5s ease;
  @include vec-transform(translateX(-100%));

  &.filter-open {
    opacity: 1;
    visibility: visible;
    @include vec-transform(translateX(0));

    #_desktop_search_filters {
      animation: 1s animationfading;
    }
  }

  .filter-close-btn {
    border: none;
    padding: 0;
    font-size: 1.125rem;
    background: none;
    color: $gray-dark;
    background-color: $white;
    cursor: pointer;
    position: absolute;
    right: -3.125rem;
    top: .3125rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;

    &:hover {
      background-color: var(--hovercolor);
      color: $white;
    }
  }

  #_desktop_search_filters {
    padding: 1.25rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
    }

    &::-webkit-scrollbar-track {
      background-color: #eee;
    }
  }
}

.vec-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &.open {
    display: block;
  }
}

//filter-top
.filters-top {
  section.facet {
    display: inline-block;
    position: relative;
    padding: 0 !important;
    border: none !important;
    margin-bottom: .625rem;

    .facet-title {
      width: auto !important;
      padding: .625rem 1.25rem;
      background: $gray-light;
      font-size: .875rem !important;
      margin: 0 !important;
      border-radius: $border-radius;
      cursor: pointer;

      &::before {
        display: none;
      }

      &::after {
        content: '\e90b';
        font-family: $font-icon;
        font-size: .8125rem;
        margin-left: .9375rem;
      }
    }

    .facet-content {
      position: absolute;
      top: calc(100% + 20px);
      left: 0;
      padding: 1rem 1rem 0 1rem;
      border: 1px solid $border-gray;
      min-width: 230px;
      background: $white;
      opacity: 0;
      visibility: hidden;
      z-index: 2;
      border-radius: $border-radius;
      @include vec-transition(300ms);

      &.facet-open {
        opacity: 1;
        visibility: visible;
        top: calc(100% + 10px);
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 1.875rem;
        bottom: 100%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #ddd;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 1.9375rem;
        bottom: 100%;
        width: 0;
        height: 0;
        border: 9px solid transparent;
        border-bottom-color: white;
      }
    }
  }
}

//grid-list
#js-product-list {
  margin-bottom: 3rem;

  .products.row {
    margin: 0 -15px;

    .column-list {
      padding: 0 15px;
      margin-bottom: 1.875rem;
    }

    .column-product {
      padding: 0 15px;
      margin-bottom: 1.875rem;
    }

    @media (max-width: 767px) {
      margin: 0 -5px;

      .column-product,
      .column-list {
        padding: 0 5px;
      }
    }
  }


  .column-product {
    @media (min-width: 1200px) {
      &.column_2:nth-child(2n + 1) {
        clear: both;
      }
    }

    @media (min-width: 1200px) {
      &.column_3:nth-child(3n + 1) {
        clear: both;
      }
    }

    @media (min-width: 1200px) {
      &.column_4 {
        &:nth-child(4n + 1) {
          clear: both;
        }
      }
    }

    @media (min-width: 1200px) {
      &.column_5 {
        width: 20%;

        &:nth-child(5n + 1) {
          clear: both;
        }
      }
    }

    @media (min-width: 1200px) {
      &.column_6 {
        &:nth-child(6n + 1) {
          clear: both;
        }
      }
    }

    @media (min-width: 1025px) and (max-width: 1199px) {
      &:nth-child(3n + 1) {
        clear: both;
      }
    }

    @media (min-width: 992px) and (max-width: 1024px) {
      width: 25%;

      &:nth-child(4n + 1) {
        clear: both;
      }
    }

    @media (min-width: 640px) and (max-width: 991px) {
      width: 33.33333%;

      &:nth-child(3n + 1) {
        clear: both;
      }
    }

    @media (min-width: 360px) and (max-width: 639px) {
      width: 50%;

      &:nth-child(2n + 1) {
        clear: both;
      }
    }

    @media (max-width: 359px) {
      clear: both;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

.first-active .js-product-miniature {
  &:after {
    display: none;
  }

}

.js-product-miniature {
  position: relative;
  background: $white;
  @include vec-transition(300ms);

  &::before {
    content: '';
    position: absolute;
    left: 0.5px;
    right: 0.5px;
    top: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 0 5px #c6c6c6;
    @include vec-transition(350ms);
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   left: -0.5px;
  //   top: 0;
  //   bottom: 1.25rem;
  //   border-left: 1px solid $border-gray;
  //   pointer-events: none;
  //   @include vec-transition(350ms);
  // }

  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
      @include vec-transition(350ms);
    }

    .countdown-timer {
      opacity: 0;
      visibility: hidden;
      @include vec-transform(translateY(20px));
      @include vec-transition(350ms);
    }

    .rotator-animation-fade {
      .product-thumbnail-rotator {
        opacity: 1;
        visibility: visible;
        @include vec-transition(300ms);
      }
    }

    .rotator-animation-zoom {
      .product-thumbnail-rotator {
        opacity: 1;
        visibility: visible;
        transform: scale(1.1) translateZ(0);
        @include vec-transition(350ms);
      }
    }
  }

  .countdown-timer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    @include vec-transition(350ms);

    .countdown-row {
      @include flex;
      justify-content: center;

      .countdown-section {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $white;
        min-width: 2.5rem;
        padding: .5rem 2px;
        line-height: 1;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 #8f8f8f4d;

        @media (max-width: 767px) {
          min-width: 2.1875rem;
          padding: .3125rem 2px;
        }

        &:not(:last-child) {
          margin-right: .3125rem;
        }

        .countdown-amount {
          font-size: .875rem;
          font-weight: 700;
          margin-bottom: .125rem;
          color: var(--hovercolor);
        }

        .countdown-period {
          font-size: 9px;
          font-weight: 500;
          text-transform: uppercase;
          color: $main-color;
        }
      }
    }
  }

  button.ajax-add-to-cart-button,
  span.ajax-add-to-cart-button,
  .quick-view,
  .compare-button,
  .btn-wishlist {
    &.loading {
      &:before {
        content: '' !important;
        border: 1px solid;
        color: transparent;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border-color: #5f5f5f #797979 #ccc #fff;
        line-height: 1;
        -webkit-animation: spin 0.6s infinite linear;
        -moz-animation: spin 0.6s infinite linear;
        -ms-animation: spin 0.6s infinite linear;
        animation: spin 0.6s infinite linear;
        display: inline-block;
      }
    }
  }

  .img-block {
    position: relative;
    overflow: hidden;

    .product-thumbnail-rotator {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      opacity: 0;
      visibility: hidden;
      @include vec-transition(300ms);
    }

    img {
      width: 100%;
    }

    .product-flag {
      position: absolute;
      top: .625rem;
      left: .625rem;
      @include flex;
      padding-right: 3.4375rem;

      li {
        line-height: 1.2rem;
        font-size: .5625rem;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 .3125rem;
        margin: 0 .3125rem .3125rem 0;
        display: inline-block;

        &.out_of_stock {
          background-color: $gray;
          color: $white;
        }
      }
    }
  }

  .product-content {
    padding: 1.25rem;

    @media (max-width: 767px) {
      padding: 10px;
    }

    position: relative;

    .manufacturer a {
      font-size: .8125rem;
      margin-bottom: .5rem;
      display: block;

      &:not(:hover) {
        color: #858997;
      }
    }

    >h3 {
      margin-bottom: .3125rem;
    }

    .product_name {
      font-size: .875rem;
      line-height: 1.2;
      display: block;
      color: var(--namecolor);
      text-transform: var(--nametransform);
      font-size: var(--namesize);

      &:hover {
        color: var(--namehovercolor);
      }
    }

    .hook-reviews {
      .comments_note {
        line-height: 1;
        margin-bottom: .5rem;

        .nb-comments {
          display: inline-block;
          vertical-align: 2px;
          font-size: .75rem;

          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }

    .product-price-and-shipping {
      .regular-price {
        font-size: 14px;
        color: #858997;
        text-decoration: line-through;
        font-weight: 400;
      }

      .price {
        font-weight: $headings-font-weight;
        color: $price-color;
        font-size: var(--pricesize);

        &.price-sale {
          color: #f04057;
        }
      }

      .discount-product {
        display: none;
      }

      >*:not(:last-child) {
        margin-right: .3125rem;
      }
    }

    .variant-links {
      line-height: 1;
      margin-top: .3125rem;
    }
  }

  &.product-miniature-grid1 {

    &:hover {
      .box-hover {
        opacity: 1;
        visibility: visible;
        @include vec-transform(translateY(0));
        @include vec-transition(350ms);
      }

    }

    .box-hover {
      flex-wrap: wrap;
      background: $white;
      z-index: 4;
      position: absolute;
      left: 0.5px;
      right: 0.5px;
      top: calc(100% - 5px);
      opacity: 0;
      visibility: hidden;
      padding: 0 1.25rem 1.25rem 1.25rem;
      box-shadow: 0 5px 5px #c6c6c6;
      @include vec-transform(translateY(-15px));
      @include vec-transition(350ms);

      @media (max-width: 767px) {
        padding: 0 .5rem .5rem .5rem;
      }

      .variant-links {
        width: 100%;
      }
    }

    a.quick-view {
      width: 2.25rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      color: #dadce0;
      background: $white;
      cursor: pointer;

      &::before {
        font-family: $font-icon;
        font-size: 1.5rem;
        content: '\e926';
        line-height: 1;
      }

      &:hover {
        color: var(--hovercolor);
      }
    }

    .add-links {
      display: inline-flex;
      z-index: 2;
      @include vec-transition(350ms);

      a {
        width: 2.25rem;
        height: 2.25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        color: #dadce0;
        background: $white;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: .625rem;
        }

        &::before {
          font-family: $font-icon;
        }

        &.compare-button {
          &.cmp_added {
            color: var(--hovercolor);
          }

          &::before {
            content: '\e92b';
            font-size: 1.4375rem;
          }
        }

        &.btn-wishlist {
          &.added {
            color: var(--hovercolor);
          }

          &::before {
            content: '\e942';
            font-size: 1.5rem;
            font-weight: 600;
          }
        }

        &:hover {
          color: var(--hovercolor);
        }
      }
    }

    .product-cart {
      margin-right: .625rem;

      button.ajax-add-to-cart-button,
      span.ajax-add-to-cart-button {
        font-size: .875rem;
        text-transform: capitalize;
        width: 100%;
        display: block;
        text-align: center;
        min-height: 2.25rem;
        background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
        border: none;
        font-weight: 400;
        padding: .3125rem .625rem;
        cursor: pointer;
        border-radius: $btn-border-radius;
        position: relative;

        &:hover {
          font-size: 0;

          &::before {
            font-size: 1.5rem;
            @include vec-transition(350ms);
          }
        }

        &.disabled {
          opacity: 0.5;
        }

        &::before {
          font-family: $font-icon;
          font-size: 0;
          content: '\e912';
          line-height: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          @include vec-transform(translateX(-50%) translateY(-50%));
          @include vec-transition(350ms);
        }

        @media (max-width: 1199px) {
          font-size: 0;
          min-width: 40px;

          &::before {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  &.product-miniature-grid2 {
    &:hover {

      .img-block a.quick-view,
      .product-cart button.ajax-add-to-cart-button,
      .product-cart span.ajax-add-to-cart-button,
      .add-links a {
        opacity: 1;
        visibility: visible;
        @include vec-transform(scale(1));
        @include vec-transition(350ms);
      }

      .product-price-and-shipping {
        opacity: 0;
        visibility: hidden;
        @include vec-transition(350ms);
      }
    }

    .img-block {
      a {
        &.quick-view {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -1.25rem;
          margin-left: -1.25rem;
          width: 3.125rem;
          height: 3.125rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 0;
          border: 1px solid $border-gray;
          background: $white;
          color: #dadce0;
          border-radius: 50%;
          opacity: 0;
          visibility: hidden;
          @include vec-transform(scale(0));
          @include vec-transition(350ms);
          cursor: pointer;

          &:hover {
            background: var(--buttonbackground);
            color: var(--buttoncolor);
            border-color: var(--buttonborder);
          }

          &::before {
            content: '\e926';
            font-family: $font-icon;
            font-size: 1.5rem;
          }
        }
      }
    }

    .product-content {
      .inner-content {
        position: relative;
      }
    }

    .box-hover {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      @include flex;
      align-items: center;
    }

    .add-links {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        color: #dadce0;
        background: $white;
        cursor: pointer;
        margin-left: .9375rem;
        opacity: 0;
        visibility: hidden;
        @include vec-transform(scale(0));
        @include vec-transition(350ms);

        &::before {
          font-family: $font-icon;
        }

        &.compare-button {
          &.cmp_added {
            color: var(--hovercolor);
          }

          &::before {
            content: '\e92b';
            font-size: 1.4375rem;
          }
        }

        &.btn-wishlist {
          &.added {
            color: var(--hovercolor);
          }

          &::before {
            content: '\e942';
            font-size: 1.5rem;
            font-weight: 600;
          }
        }

        &:hover {
          color: var(--hovercolor);
        }
      }
    }

    .product-cart {
      flex: 1;

      button.ajax-add-to-cart-button,
      span.ajax-add-to-cart-button {
        font-size: 1rem;
        color: $gray-dark;
        border: none;
        font-weight: 700;
        cursor: pointer;
        background: none;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        @include vec-transform(scale(0));
        @include vec-transition(350ms);

        &:hover {
          color: var(--hovercolor);
        }

        &.disabled {
          opacity: 0.5;
        }

        &:before {
          content: '+';
          display: inline-block;
          margin-right: .1875rem;
        }
      }
    }
  }

  &.product-miniature-grid3 {
    &:hover {
      .add-links {
        opacity: 1;
        visibility: visible;
        @include vec-transform(translateY(0));
        @include vec-transition(350ms);
      }
    }

    .add-links {
      position: absolute;
      left: 0;
      right: 0;
      bottom: .625rem;
      padding: 0 .3125rem;
      @include flex;
      justify-content: center;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      @include vec-transform(translateY(15px));
      @include vec-transition(350ms);

      >* {
        &:not(:last-child) {
          margin-right: .3125rem;
        }
      }

      a {
        width: 2.125rem;
        height: 2.125rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        background: var(--buttonbackground);
        color: var(--buttoncolor);
        border-radius: 50%;
        cursor: pointer;

        &::before {
          font-family: $font-icon;
          font-size: 1rem;
        }

        &.quick-view {
          &::before {
            content: '\e926';
          }
        }

        &.compare-button {
          &.cmp_added {
            background: var(--buttonhoverbackground);
            color: var(--buttonhovercolor);
          }

          &::before {
            content: '\e92b';
          }
        }

        &.btn-wishlist {
          &.added {
            background: var(--buttonhoverbackground);
            color: var(--buttonhovercolor);
          }

          &::before {
            content: '\e942';
            font-weight: 600;
          }
        }

        &:hover {
          background: var(--buttonhoverbackground);
          color: var(--buttonhovercolor);
        }
      }
    }

    button.ajax-add-to-cart-button,
    span.ajax-add-to-cart-button {
      width: 2.125rem;
      height: 2.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      border: 0;
      background: var(--buttonbackground);
      color: var(--buttoncolor);
      border-radius: 50%;
      cursor: pointer;

      &::before {
        font-family: $font-icon;
        font-size: 1rem;
        content: '\e912';
      }

      &:hover {
        background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
      }

      &.disabled {
        opacity: 0.5;
      }
    }
  }

  &.product-miniature-grid4 {
    &:hover {
      a.quick-view {
        @include vec-transform(translateY(0));
        opacity: 1;
        visibility: visible;
        @include vec-transition(350ms);
      }

      .add-links {
        a {
          opacity: 1;
          visibility: visible;
          @include vec-transform(scale(1));
        }
      }
    }

    .inner-content {
      display: flex;
      align-items: center;

      .left-content {
        flex: 1;
      }
    }

    button.ajax-add-to-cart-button,
    span.ajax-add-to-cart-button {
      width: 2.125rem;
      height: 2.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      border: 1px solid var(--buttonborder);
      border-radius: 50%;
      color: var(--buttoncolor);
      background: var(--buttonbackground);
      cursor: pointer;

      &::before {
        font-family: $font-icon;
        font-size: 1rem;
        content: '\e912';
      }

      &:hover {
        background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
        border-color: var(--buttonhoverborder);
        ;
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    a.quick-view {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
      font-size: .875rem;
      font-weight: 500;
      text-align: center;
      padding: .5rem .625rem;
      color: $white;
      display: block;
      opacity: 0;
      visibility: hidden;
      @include vec-transform(translateY(100%));
      @include vec-transition(350ms);

      &:hover {
        color: var(--buttonhovercolor);
        background: var(--buttonhoverbackground);
      }
    }

    .add-links {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      display: inline-flex;
      flex-direction: column;
      z-index: 2;

      a {
        width: 2.125rem;
        height: 2.125rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        color: var(--buttoncolor);
        background: var(--buttonbackground);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        border-radius: 50%;
        @include vec-transform(scale(0));
        @include vec-transition(350ms);

        &:not(:last-child) {
          margin-bottom: .3125rem;
        }

        &::before {
          font-family: $font-icon;
          font-size: 1rem;
        }

        &.compare-button {
          &.cmp_added {
            background: var(--buttonhoverbackground);
            color: var(--buttonhovercolor);
          }

          &::before {
            content: '\e92b';
          }
        }

        &.btn-wishlist {
          &.added {
            background: var(--buttonhoverbackground);
            color: var(--buttonhovercolor);
          }

          &::before {
            content: '\e942';
            font-weight: 600;
          }
        }

        &:hover {
          background: var(--buttonhoverbackground);
          color: var(--buttonhovercolor);
        }
      }
    }
  }

  &.product-miniature-grid5 {
    &:hover {
      .img-block {
        &:before {
          height: 100%;
          @include vec-transition(350ms);
        }
      }

      button.ajax-add-to-cart-button,
      span.ajax-add-to-cart-button,
      a.quick-view {
        @include vec-transform(translateX(0px));
        opacity: 1;
        visibility: visible;
        @include vec-transition(350ms);
      }

      .add-links {
        a {
          opacity: 1;
          visibility: visible;
          @include vec-transform(translateY(0));
          @include vec-transition(350ms);
        }
      }
    }

    .img-block {
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        @include vec-transition(350ms);
        background-color: rgba(255, 255, 255, .2);
        width: 100%;
        height: 0;
        pointer-events: none;
      }
    }

    .box-hover {
      display: flex;
      align-items: stretch;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;

      >* {
        flex: 1;
      }
    }

    button.ajax-add-to-cart-button,
    span.ajax-add-to-cart-button {
      font-size: .875rem;
      font-weight: 600;
      text-align: center;
      padding: .5rem .3125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      width: 100%;
      color: var(--buttoncolor);
      background: var(--buttonbackground);
      opacity: 0;
      visibility: hidden;
      @include vec-transform(translateX(30px));
      cursor: pointer;
      @include vec-transition(350ms);

      @media (max-width: 575px) {
        font-size: 0;
        font-weight: 400;
        height: 2.8125rem;
        padding: 0;

        &::before {
          font-family: $font-icon;
          font-size: 1.125rem;
          content: '\e999';
        }
      }

      &:hover {
        background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    a.quick-view {
      font-size: .875rem;
      font-weight: 600;
      text-align: center;
      padding: .5rem .625rem;
      background: #222;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      @include vec-transform(translateX(-30px));
      @include vec-transition(350ms);

      @media (max-width: 575px) {
        font-size: 0;
        font-weight: 400;
        height: 2.8125rem;
        padding: 0;

        &::before {
          font-family: $font-icon;
          font-size: 1.125rem;
          content: '\e926';
        }
      }

      &:hover {
        background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
      }
    }

    .add-links {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      display: inline-flex;
      flex-direction: column;
      z-index: 2;

      a {
        width: 2.125rem;
        height: 2.125rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        color: var(--buttoncolor);
        background: var(--buttonbackground);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        border-radius: 50%;
        @include vec-transform(translateY(20px));
        @include vec-transition(350ms);

        &:not(:last-child) {
          margin-bottom: .3125rem;
        }

        &::before {
          font-family: $font-icon;
          font-size: 1rem;
        }

        &.compare-button {
          &.cmp_added {
            background: var(--buttonhoverbackground);
            color: var(--buttonhovercolor);
          }

          &::before {
            content: '\e92b';
          }
        }

        &.btn-wishlist {
          &.added {
            background: var(--buttonhoverbackground);
            color: var(--buttonhovercolor);
          }

          &::before {
            content: '\e942';
            font-weight: 600;
          }
        }

        &:hover {
          background: var(--buttonhoverbackground);
          color: var(--buttonhovercolor);
        }
      }
    }
  }

  &.style_product_list {
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
    border: 1px solid $border-gray;

    .img-block {
      flex: 0 0 auto;
      width: 45%;
      max-width: 120px;
    }

    .product-content {
      flex: 1;
      padding: 0 0 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      .hook-reviews {
        display: block;
      }
    }
  }
}

.product-miniature-list {
  @include flex;

  @media (min-width: 480px) {
    flex-wrap: nowrap;
  }

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .img-block {
    width: 100%;

    @media (min-width: 480px) {
      flex: 0 0 auto;
      width: 45%;
      max-width: 330px;
    }
  }

  .product-content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .product_name {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .product-price-and-shipping {
      margin-bottom: .625rem;
      line-height: 1.2;

      .price {
        font-size: 1.5625rem;
      }
    }

    .availability {
      .availability-list {
        span {
          font-weight: 500;
          color: #09a14b;
        }
      }
    }

    .product-desc {
      margin: .9375rem 0 0 0;

      ul li {
        &::before {
          content: "\f04b";
          font-family: FontAwesome;
          display: inline-block;
          margin-right: 7px;
          position: relative;
          font-size: 8px;
          color: var(--hovercolor);
          vertical-align: 3px;
        }
      }
    }

    .box-action {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: .625rem;

      >* {
        margin-right: .625rem;
        margin-bottom: .625rem
      }
    }

    .add-links {
      @include flex;
      align-items: center;

      a {
        width: 2.625rem;
        height: 2.625rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        border: 1px solid $border-gray;
        background: $white;
        color: $main-color;
        cursor: pointer;
        border-radius: $border-radius;

        &:not(:last-child) {
          margin-right: .625rem;
        }

        &::before {
          font-family: $font-icon;
          font-size: 1.125rem;
        }

        &.quick-view {
          &::before {
            content: '\e926';
          }
        }

        &.compare-button {
          &::before {
            content: '\e92b';
          }
        }

        &.btn-wishlist {
          &::before {
            content: '\e942';
            font-weight: 600;
          }
        }

        &:hover {
          background: var(--buttonhoverbackground);
          color: var(--buttonhovercolor);
          border-color: var(--buttonhoverborder);
        }
      }
    }

    .product-cart {

      button.ajax-add-to-cart-button,
      span.ajax-add-to-cart-button {
        font-size: .875rem;
        text-transform: uppercase;
        background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
        border: none;
        font-weight: 500;
        padding: .625rem 2.1875rem;
        border-radius: $border-radius;
        cursor: pointer;

        &:hover {
          background: var(--buttonhoverbackground);
          color: var(--buttonhovercolor);
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

#category-description {
  &.expand-content {
    overflow: hidden;
    max-height: 120px;
    position: relative;

    &:not(.expanded-content) .btn-less {
      display: none;
    }
  }

  &.expanded-content {
    overflow: visible;
    max-height: none;
    padding-bottom: 3.125rem;

    .btn-more {
      display: none;
    }

    .block-expand-overlay {
      background: none;
    }
  }
}

.block-expand-overlay {
  background: linear-gradient(to bottom, transparent, rgba(248, 248, 248, 1));
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: visible;

  >.block-expand {
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
    padding: 0 1rem;
    background: var(--buttonbackground);
    color: var(--buttoncolor);
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background: var(--buttonhoverbackground);
      color: var(--buttonhovercolor);
    }

    &:after {
      font-family: $font-icon;
      font-size: .8125rem;
      margin-left: .9375rem;
    }

    &.btn-more {
      &:after {
        content: '\e9c9';
      }
    }

    &.btn-less {
      &:after {
        content: '\e92e';
      }
    }
  }
}

#products {
  color: $gray;

  .products-select {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .up {
    margin-bottom: 1rem;

    .btn-secondary {
      color: $gray;
      text-transform: inherit;

      .material-icons {
        margin-right: 0;
      }
    }
  }
}

.block-category {
  &.desc-cate {
    margin-bottom: 1.563rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .block-category-inner {
    #category-description {

      p,
      strong {
        font-weight: 400;
        color: #4e4c4c;
      }

      p {
        margin-bottom: 0;
        color: #4e4c4c;
        word-break: break-word;

        &:first-child {
          margin-bottom: $medium-space;
        }
      }
    }

    .category-cover {
      img {
        margin-bottom: 1.875rem;
        border-radius: $border-radius;
        width: 100%;
      }
    }
  }
}

.products-selection {
  margin-bottom: .625rem;

  .sort-by-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $gray-light;
    padding: .3125rem .625rem;
    border-radius: $border-radius;

    .sort-by-left,
    .sort-by-right {
      @include flex;
      align-items: center;
      padding: .3125rem 0;

      >*:not(:last-child) {
        margin-right: .9375rem;
      }
    }
  }

  .view-switcher {
    display: flex;
    align-items: center;
    line-height: 1;

    @media (max-width: 767px) {
      display: none;
    }

    >a {

      &.active,
      &:hover {
        color: var(--hovercolor);
      }

      font-size: 1.25rem;
      color: #686a6d;

      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
  }

  .filter-button a {
    padding: .3125rem 1.25rem;
    background: var(--buttonbackground);
    color: var(--buttoncolor);
    border-radius: $border-radius;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.5rem;
    display: inline-block;

    &::before {
      font-family: $font-icon;
      content: '\e92a';
      font-size: 1rem;
      margin-right: .3125rem;
      vertical-align: -2px;
    }

    &:hover {
      background: var(--buttonbackground);
      color: var(--buttoncolor);
    }
  }

  .sort-by {
    margin-right: -0.9375rem;
    margin-left: 0.9375rem;
    text-align: right;
    word-break: break-word;
    white-space: normal;
  }

  .total-products {
    padding-top: 0.625rem;
  }

  h1 {
    padding-top: 0.625rem;
  }
}

.open>.dropdown-menu {
  animation: animateUpToDown .35s ease;
}

.products-sort-nb-dropdown,
.products-sort-order,
.brands-sort,
.suppliers-sort {
  color: $gray;

  .select-title {
    display: inline-flex;
    width: 100%;
    padding: .3125rem .9375rem;
    color: $gray-darker;
    font-size: .8125rem;
    cursor: pointer;
    background: $white;
    justify-content: space-between;
    align-items: center;
    border: none;
    line-height: 1.5rem;
    border-radius: $border-radius;

    i {
      font-size: .8125rem;
      margin-left: .9375rem;
    }
  }

  .select-list {
    display: block;
    padding: .3125rem $medium-space;
    color: $gray-darker;
    font-size: .8125rem;

    &:hover {
      color: $white;
      text-decoration: none;
      background: var(--hovercolor);
    }
  }

  .dropdown-menu {
    left: auto;
    right: 0;
    top: calc(100% + 2px);
    margin: 0;
    background: $gray-lighter;
    border: none;
    border-radius: 0;
  }
}

.products-sort-nb-dropdown {
  .dropdown-menu {
    left: 0;
    right: 0;
    min-width: 0;
  }
}

.facet-dropdown {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  color: $gray;
  background: $gray-light;

  &.open {
    border: 0;

    >.select-title {
      background: $gray-lighter;
      border: 1px solid var(--hovercolor);
    }
  }

  .select-title {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: .3125rem $small-space .3125rem $medium-space;
    margin-left: 0;
    color: $gray-darker !important;
    border: 1px solid $border-gray;
    cursor: pointer;
    background: $gray-light;

    >i {
      margin-left: auto;
    }
  }

  .select-list {
    display: block;
    padding: .3125rem $medium-space;
    color: $gray-darker;
    background: $gray-lighter;
    font-size: .8125rem;

    &:hover {
      color: $white;
      text-decoration: none;
      background: var(--hovercolor);
    }
  }

  .dropdown-menu {
    left: auto;
    width: 100%;
    padding: 0;
    margin-top: 3px;
    background: $gray-lighter;
    border: none;
    box-shadow: 1px 1px 1px 1px $gray-light;
  }
}

#search_filters,
#search_filters_brands,
#search_filters_suppliers {
  margin-bottom: 1.563rem;
  background: $white;

  >.h6 {
    font-size: 1.25rem;
    color: $gray-dark;
    margin-bottom: 1.25rem;
  }

  .facet {
    padding: 1.875rem 1.875rem .9375rem 1.875rem;
    border: 2px solid $border-gray;
    border-radius: $border-radius;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    .collapse {
      display: block;
    }

    .facet-title {
      font-size: 1.25rem;
      color: $gray-darker;
      margin-bottom: 1.5625rem;
      width: auto !important;
      position: relative;
      overflow: visible !important;
      display: inline-flex !important;
      padding-bottom: .625rem;
      font-weight: 700;

      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--hovercolor);
      }

    }

    .facet-label {
      margin-bottom: 0;

      .custom-checkbox,
      .custom-radio {
        top: -0.5625rem !important;
      }

      a {
        display: inline-block;
        margin-top: .1875rem;
        font-size: .9375rem;
        color: $gray;

        .magnitude {
          font-size: .75rem;
        }

        &:hover {
          color: var(--hovercolor);
        }
      }
    }

    .faceted-slider {
      padding-bottom: .625rem;

      p {
        color: $gray-dark;
        font-size: .9375rem;
      }
    }
  }
}

#search_filters {
  @media (min-width: 1025px) {
    >.h6 {
      display: none;
    }
  }

  .ui-slider-horizontal {
    height: .125rem !important;
    background: #dbdbdb;
    border: none;
    border-radius: 0;
    margin-right: .8125rem;

    .ui-widget-header {
      background: var(--hovercolor);
    }

    .ui-slider-handle {
      top: -6px !important;
      width: .8125rem !important;
      height: 0.8125rem !important;
      border: none !important;
      background: var(--hovercolor) !important;
      border-radius: 50%;
    }
  }
}

#search_filters_brands,
#search_filters_suppliers {
  .facet {
    padding-top: 0;

    .facet-label {
      margin-bottom: 0.3125rem;
    }
  }
}

.pagination {
  width: 100%;
  font-size: 0.875rem;
  margin-top: 0;

  >div:first-child {
    padding-left: 0;
    line-height: 2.5rem;
  }

  .page-list {
    margin-bottom: 0;
    background: $white;
    @include flex;
    align-items: center;
    justify-content: center;

    li {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  a {
    color: $gray-dark;
    width: 2.25rem;
    height: 2.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .3125rem;
    border: 1px solid $border-gray;

    i {
      font-size: 1.0625rem;
    }
  }

  a:hover,
  .current a {
    background: var(--buttonbackground);
    border-color: var(--buttonbackground);
    color: var(--buttoncolor);
    text-decoration: none;
  }
}

.productlist-load-button {
  text-align: center;

  .widget-productlist-loader,
  .widget-productlist-trigger,
  .loadmore {
    background: var(--buttonbackground);
    color: var(--buttoncolor);
    min-width: 10rem;

    &:hover {
      background: var(--buttonhoverbackground);
      color: var(--buttonhovercolor);
    }
  }

  .widget-productlist-trigger.infinite {
    &:before {
      content: '';
      border: 1px solid;
      color: transparent;
      width: .875rem;
      height: .875rem;
      border-radius: 50%;
      border-color: #5f5f5f #797979 #ccc #fff;
      line-height: 1;
      -webkit-animation: spin 0.6s infinite linear;
      -moz-animation: spin 0.6s infinite linear;
      -ms-animation: spin 0.6s infinite linear;
      animation: spin 0.6s infinite linear;
      display: inline-block;
      vertical-align: -2px;
      margin-right: .3125rem;
    }
  }
}

.active_filters {
  padding: $small-space $small-space 0;
  margin-bottom: $medium-space;
  background: #dededd;
  display: flex;
  align-items: center;

  .active-filter-title {
    display: inline;
    margin-right: $small-space;
    font-weight: $headings-font-weight;
  }

  ul {
    display: inline;
    margin: 0;
  }

  .js-search-filters-clear-all {
    margin: 0 0 .5rem;
    padding: .3125rem 0.625rem;
    line-height: 1.3125rem;

    &:not(:hover) {
      background: var(--buttonbackground);
      color: var(--buttoncolor);
    }
  }

  .filter-block {
    display: inline-block;
    padding: .3125rem 0.625rem;
    margin-right: $small-space;
    margin-bottom: $small-space;
    font-size: $font-size-xs;
    color: $gray-darker;
    background: $white;

    .close {
      margin-top: 0.1875rem;
      margin-left: 0.3125rem;
      font-size: $font-size-lg;
      color: $gray-darker;
      opacity: 1;
    }

    i {
      font-size: .75rem;
      vertical-align: -2px;
    }
  }
}

.block-categories {
  margin-bottom: 2.5rem;
  background: $white;
  padding: 1.875rem 1.875rem .9375rem 1.875rem;
  border: 2px solid $border-gray;
  border-radius: $border-radius;

  .h6 {
    font-size: 1.25rem;
    color: $gray-darker;
    margin-bottom: .9375rem;
    position: relative;
    display: inline-flex;
    padding-bottom: .625rem;
    font-weight: 700;
    text-transform: none !important;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: var(--hovercolor);
    }
  }

  ul {
    margin: 0;
  }

  li>.category-sub-menu {
    padding-left: .9375rem;
  }

  .category-sub-menu {
    .category-sub-link {
      font-size: $font-size-sm;
    }

    li {
      position: relative;

      &[data-depth="0"] {
        list-style-type: disc;
        color: #e6e6e6f2;

        &:not(:last-child) {
          border-bottom: 1px dashed $border-gray;
        }
      }

      &[data-depth="1"] {
        margin-bottom: $small-space;
        padding-left: $small-space;
      }
    }

    li[data-depth="0"]>a {
      display: inline-block;
      width: 100%;
      padding: .625rem 0;
      font-size: .9375rem;
    }

    li:not([data-depth="0"]):not([data-depth="1"]) {
      padding-left: 0.3125rem;

      &::before {
        margin-right: 0.3125rem;
        content: "-";
      }
    }
  }

  a {
    color: $gray;

    &:hover {
      color: var(--hovercolor);
    }
  }

  .collapse-icons {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0;
    cursor: pointer;
    width: auto;
    height: auto;

    i {
      font-size: 1.25rem;
      font-size: 1rem;
      color: $main-color;
    }

    &[aria-expanded="true"] {
      .add {
        display: none;
      }

      .remove {
        display: block;
      }
    }

    .add,
    .remove {
      &:hover {
        color: var(--hovercolor);
      }
    }

    .remove {
      display: none;
    }
  }

  .arrows {

    .arrow-right,
    .arrow-down {
      margin-left: 2px;
      font-size: $font-size-sm;
      cursor: pointer;

      &:hover {
        color: $brand-primary;
      }
    }

    .arrow-down {
      display: none;
    }

    &[aria-expanded="true"] {
      .arrow-right {
        display: none;
      }

      .arrow-down {
        display: inline-block;
      }
    }
  }
}

.facets-title {
  color: $gray-darker;
}

.advertising-block {
  margin-bottom: 1.563rem;

  img {
    width: 100%;
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #category {
    #left-column {
      width: 100%;

      #search_filters_wrapper {
        margin-right: -30px;
        margin-left: -30px;
      }

      #search_filter_controls {
        margin-bottom: 1rem;
        text-align: center;

        button {
          margin: 0 0.5rem;
        }
      }

      #search_filters {
        padding: 0;
        margin-bottom: 20px;
        border-top: 1px solid $gray-lighter;
        box-shadow: none;

        .ui-slider-horizontal {
          margin-bottom: 20px;
        }

        .facet {
          padding-top: 0;
          border-bottom: 1px solid $gray-lighter;

          .title {
            align-items: center;
            cursor: pointer;

            .collapse-icons .remove {
              display: none;
            }
          }

          .title[aria-expanded="true"] {
            .collapse-icons {
              .add {
                display: none;
              }

              .remove {
                display: block;
              }
            }
          }

          .facet-title {
            color: $gray-darker;
            text-transform: uppercase;
          }

          .h6 {
            display: inline-block;
            padding: 1.25rem;
            margin-bottom: 0;
          }

          .navbar-toggler {
            display: inline-block;
            height: inherit;
            padding: 0 0.625rem 0 0;
          }

          .collapse {
            display: none;

            &.in {
              display: block;
            }
          }

          .facet-label {
            a {
              margin-top: 0;
            }
          }

          ul {
            margin-bottom: 0;

            li {
              padding: 1.25rem;
              border-top: 1px solid $gray-lighter;
            }
          }
        }
      }
    }

    #search_filter_toggler {
      width: 100%;
    }
  }

  .products-sort-order {
    .select-title {
      margin-left: 0;
    }
  }

  .products-selection {
    h1 {
      padding-top: 0;
      margin-bottom: 1rem;
      text-align: center;
    }

    .showing {
      padding-top: 1rem;
    }
  }

  #prices-drop #content-wrapper,
  #new-products #content-wrapper,
  #best-sales #content-wrapper {
    width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  .products-selection {
    .filter-button {
      padding-left: 0;
    }
  }

  #category {
    #left-column {
      #search_filters_wrapper {
        margin-right: -15px;
        margin-left: -15px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .category-cover {
    display: none;
  }

  .block-category {
    min-height: 0;
    margin-bottom: 0;
  }

  .card-block {
    padding: 0;
  }

  .card {
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
}

@include media-breakpoint-down(md) {
  #products {
    .products {
      justify-content: center;
    }
  }
}