#subcategories {
  margin-bottom: 0;
  padding: 0 0 1.25rem 0;
  .subcategory-heading {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.125rem;
    color: $gray-dark;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -10px;

    li {
      width: calc(100% / 5 - 20px);
      min-width: 150px;
      margin: 0 10px;
      .subcategory-image {
        padding: 0 0 8px;

        a {
          display: block;
          img {
            max-width: 100%;
            vertical-align: top;
            @include vec-transition(300ms);
          }
        }
      }

      .subcategory-name {
        text-transform: uppercase;
        color: $gray-dark;
        font-size: .8125rem;
        &:hover {
          color: var(--hovercolor);
        }
      }

      .cat_desc {
        display: none;
      }

      &:hover {
        .subcategory-image {
          a {
              img {
                @include vec-transform(scale(1.05));
              }
          }
        }
      }
    }
  }
}

