<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>vecthemeoptions</name>
    <displayName><![CDATA[Vec - Theme options]]></displayName>
    <version><![CDATA[1.2.0]]></version>
    <description><![CDATA[Theme editor module - allow customize your website.]]></description>
    <author><![CDATA[ThemeVec]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>