/* module vecproductcomments */
form#sendComment fieldset {
  padding: 10px;
  border: 1px solid #cccccc;
  background: #eeeeee;
}

form#sendComment h3 {
  font-size: 14px;
}

#new_comment_form p.text {
  margin-bottom: 0;
  padding-bottom: 0;
}

#sendComment p.text label,
#sendComment p.textarea label {
  display: block;
  margin: 12px 0 4px;
  font-weight: bold;
  font-size: 12px;
}

#sendComment p.text input {
  padding: 0 5px;
  height: 28px;
  width: 498px;
  border: 1px solid #cccccc;
  background: url(../img/bg_input.png) repeat-x 0 0 white;
}

#sendComment p.textarea textarea {
  height: 80px;
  width: 508px;
  border: 1px solid #cccccc;
}

#sendComment p.submit {
  padding: 0;
  text-align: right;
}

#sendComment p.closeform {
  float: right;
  padding: 0;
  text-indent: -5000px;
  background: url(../img/icon/delete.gif) no-repeat 0 0;
}

.star {
  position: relative;
  top: -1px;
  float: left;
  width: auto;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
}

.star {
  display: block;
}
.star a {
  display: block;
  position: absolute;
  text-indent: -5000px;
}

div.star:after {
  content: "\e9a6";
  font-family: "vecthemes-icon";
  display: inline-block;
  color: #acacac;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}

div.star.star_on {
  display: block;
}
div.star.star_on:after {
  content: "\e9a6";
   font-family: "vecthemes-icon";
  display: inline-block;
  color: #f9b223;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}

div.star.star_hover:after {
  content: "\e9a6";
   font-family: "vecthemes-icon";
  display: inline-block;
  color: #f9b223;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}

.rating {
  clear: both;
  display: block;
  margin: 2em;
  cursor: pointer;
}

.rating:after {
  content: ".";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}

.cancel, .star {
  overflow: hidden;
  float: left;
}

.cancel a, .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
}

div.star_on a {
  background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
  background-position: 0 -32px;
}

.pack_content {
  margin: 10px 0 10px 0;
}

.confirmation {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #e6db55;
  font-size: 13px;
  background: none repeat scroll 0 0 lightyellow;
}

#page .rte {
  background: transparent none repeat scroll 0 0;
}
#page .rte em {
  font-style: italic !important;
}

.listcomment {
  list-style-type: none;
  margin: 0 0 20px 0 !important;
}

.listcomment li {
  padding: 10px 0;
  border-bottom: 1px dotted #ebebeb;
  color: #666666;
}

.listcomment .titlecomment {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #ebebeb;
}

.listcomment .txtcomment {
  display: block;
  padding: 5px 0;
  color: #ebebeb;
}

.header-container {
  background: white;
  z-index: 9;
  position: relative;
}

#product_comments_block_extra {
  padding: 0;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px 0;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
#product_comments_block_extra .comments_note {
  margin: 0 20px 0 0;
  display: inline-block;
}

#product_comments_block_extra .star_content {
  margin-top: 1px;
}
#product_comments_block_extra div.star:after {
  content: "\e9a6";
   font-family: "vecthemes-icon";
  display: inline-block;
  color: #acacac;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}
#product_comments_block_extra div.star_on:after {
  content: "\e9a6";
   font-family: "vecthemes-icon";
  display: inline-block;
  color: #f9b223;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}
#product_comments_block_extra .comments_advices {
  display: inline-flex;
  align-items: center;
  margin: 0;
}
.comments_advices a {
  text-decoration: none;
  position: relative;
  margin-right: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments_advices a {
    float: none;
    line-height: 20px;
  }
}
.comments_advices a:before {
  display: inline-block;
  font-family: "vecthemes-icon"; 
  font-weight: normal;
  margin-right: 5px; 
  vertical-align:-1px;
}
.comments_advices a.reviews:before {
  content: "\e915"; 
}
.comments_advices a.open-comment-form:before {
  content: "\e980"; 
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments_advices a.reviews {
    margin-right: 0;
    padding: 0;
    border: none;
  }
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px;
}

#fancybox-content {
  width: 585px;
  border-width: 0;
}

#new_comment_form {
  overflow: hidden;
  color: #333333;
  text-align: left;
}

#new_comment_form .title {
  padding: 10px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  background: #333333;
}
#new_comment_form ul.grade_content {
  list-style-type: none;
  margin: 0 0 20px 0;
}
#new_comment_form ul.grade_content li {
  width: 50%;
}
#new_comment_form ul.grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  font-weight: bold;
}
#new_comment_form ul.grade_content .cancel {
  margin-right: 5px;
}

#new_comment_form .new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
#new_comment_form label {
  display: block;
  margin: 12px 0 4px 0;
}
#new_comment_form input,
#new_comment_form textarea {
  padding: 0 5px;
  height: 36px;
  width: 100%;
}
#new_comment_form textarea {
  height: 80px;
}
#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right;
}
#new_comment_form #criterions_list {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  list-style-type: none;
}
#new_comment_form #criterions_list li {
  margin-bottom: 10px;
}
#new_comment_form #criterions_list label {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  line-height:1;
}
#new_comment_form #criterions_list .star_content {
  float: left;
}
#new_comment_form #new_comment_form_footer {
  margin-top: 10px;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px 0;
}
#product_comments_block_tab div.comment .comment_author {
  line-height: 1;
}
#product_comments_block_tab div.comment .comment_author span {
  font-weight: 600;
  text-transform: capitalize;
  color: #000000;
}
#product_comments_block_tab div.comment .comment_author .star_content {
  display: inline-block;
  vertical-align: middle; 
}
#product_comments_block_tab div.comment .comment_details {
  overflow: hidden;
  margin-top: 20px;
}
#product_comments_block_tab div.comment .comment_details h4 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  color: #000000;
}
@media (max-width: 767px) {
  #product_comments_block_tab div.comment .comment_details ul {
    list-style-type: none;
    margin: 0;
  }
  #product_comments_block_tab div.comment .comment_details ul li {
    padding: 2px 0 2px;
  }
  #product_comments_block_tab div.comment .comment_details ul li:before {
   font-family: "vecthemes-icon";
    content: "\e972";
    color: #acacac;
    margin-right: 8px;
  }
}
#product_comments_block_tab div.star:after {
  content: "\e9a6";
   font-family: "vecthemes-icon";
  display: inline-block;
  color: #acacac;
  font-weight:400;
  line-height: 1;
  vertical-align: top;
}
#product_comments_block_tab div.star_on:after {
  content: "\e9a6";
   font-family: "vecthemes-icon";
  display: inline-block;
  color: #f9b223;
  font-weight:400;
  line-height: 1;
  vertical-align: top;
}
#product_comments_block_tab .comment_author_infos { 
  clear: both;
  padding-top: 9px;
}
#product_comments_block_tab .comment_author_infos strong {
  display: block;
  color: #000000;
  font-weight:500;
  margin-bottom: 10px;
}
#product_comments_block_tab .comment_author_infos em {
  color: #adadad;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.tabs .tab-pane {
  padding: 0;
}

#products .comments_note, .featured-products .comments_note, .product-accessories .comments_note {
  text-align: left;
  color: #acaaa6;
  font-size: 12px;
}

#id_new_comment_form label {
  text-align: left;
}
/* end module vecproductcomments */